{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "node_modules/",
    "build/",
    "/*.ts",
    "/*.js",
    "src/contracts"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "sort-keys-fix",
    "sort-export-all",
    "json",
    "import",
    "simple-import-sort",
    "no-secrets"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:json/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-secrets/no-secrets": ["off"],
    "workspaces/require-dependency": ["off"],
    "prettier/prettier": "error",
    "semi": "off",
    "@typescript-eslint/semi": ["error", "never"],

    "no-tabs": ["error"],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "sort-export-all/sort-export-all": "warn",
    "require-await": "error",
    "sort-keys": [
      "warn",
      "asc",
      { "caseSensitive": true, "natural": false, "minKeys": 2 }
    ],
    "sort-keys-fix/sort-keys-fix": "warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "quotes": [2, "single", "avoid-escape"],
    "max-statements": ["error", 25],
    "max-depth": ["error", 6],
    "complexity": ["error", 20],
    "max-lines": ["error", { "max": 512, "skipBlankLines": true }],
    "max-nested-callbacks": ["error", 6],
    "import/no-named-as-default": ["off"],
    "import/no-absolute-path": ["warn"],
    "import/no-restricted-paths": ["warn"],
    "import/namespace": ["warn"],
    "import/no-cycle": ["warn"],
    "import/no-useless-path-segments": ["warn"],
    "simple-import-sort/sort": ["error"]
  }
}
